/* * {
  border: 1px solid red;
} */
.main-wrapper {
  max-width: 1600px;
  padding: 0 40px;
  margin: 0 auto 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 50px;
}

.header__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.header__burger_line {
  width: 25px;
  height: 5px;
  background-color: #074583;
  border-radius: 20px;
}

.header__burger_line:not(:last-child) {
  margin-bottom: 2px;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__logo__img {
  height: 50px;
}

.header .header__userbar {
  display: flex;
  align-items: center;
}
.header .header__userbar .header__name {
  margin-right: 10px;
  font-weight: bold;
  width: 120px;
  height: 20px;
}
.header .header__userbar .header__avatar img {
  height: 40px;
}

.booking-page {
  /* background: #eef1f4; */
  /* bgc */
  padding-top: 20px;
}
.booking-page .booking-page__breadcrumbs {
  display: flex;
}
.booking-page .booking-page__breadcrumbs span {
  margin-right: 5px;
}
.booking-page .booking-page__breadcrumbs .home {
  color: #074583;
  font-weight: bold;
}
.booking-page .booking-page__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.booking-page .booking-page__header .booking-page__title {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
  font-size: 2.5rem;
}
button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: initial;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.4;
  border-radius: 0.25rem;
  margin-left: 7px;
  cursor: pointer;
  /* transition: all 0.4s; */
}

button:hover {
  background-color: #619ec9;
  color: white;
}

button.success {
  color: white;
  font-weight: 400;
  background-color: #28a745;
}

button.success:hover {
  background-color: #2d7e3f;
}
/* .booking-page
  .booking-page__header
  .booking-page__controls
  button.import:hover {
  background: #e1e1e1;
} */
.booking-page__results {
  background: white;
}
.booking-filters {
  padding: 0 20px 0;
  display: flex;
}
.filter-input {
  width: 200px;
  margin-right: 10px;
}
.filter-input label {
  font-weight: 600;
  color: #4b4b4b;
  font-size: 14px;
}
.filter-input input {
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 6px 12px;
}
.booking-cards {
  display: flex;
  /* align-items: space-between; */
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  margin-right: -20px;
  padding-top: 30px;
}

.booking-card::after {
  content: '';
  flex-grow: 1000000000;
}

.booking-card {
  background: white;
  min-width: 350px;
  flex-grow: 1;
  /* max-width: calc(100% / 50px); */
  /* width: 100%; */
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 26px;
  border-radius: 10px;
  /* width: 19%; */
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}
.booking-card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.booking-card__header-meta {
  display: flex;
  font-weight: bold;
}

.booking-card__header-meta-calendar {
  font-size: 16px;
  color: #999;
}

.booking-card__header-meta-users {
  color: #999;
  margin-left: 10px;
  font-size: 16px;
}

.booking-card__header-meta-users > span {
  margin: 0 10px;
}

.booking-card__header-meta-users > span::after {
  content: ' persons needs';
  font-size: 14px;
  font-weight: normal;
}

.booking-card__header-status {
  text-transform: lowercase;

  border-radius: 0.25rem;
  padding: 0px 8px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
}

.booking-card__header-status.pending {
  background-color: #eeeeee;
  color: #232323;
}

.booking-card__header-status.cancelled {
  background-color: #fee2d5;
  color: #693d3a;
}

.booking-card__header-status.completed {
  background-color: #cfdfff;
  color: #1d2a2d;
}

.booking-card__header-status.accepted {
  color: #132b10;
  background-color: #d1f7c4;
}

.booking-card__body {
  margin-top: 20px;
  margin-bottom: auto;
  display: flex;
}

.booking-card__body-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #e4f0ff;
  /* padding: 10px; */
  width: 70px;
  height: 70px;
  line-height: 1;
  color: #074583;
  margin-right: 20px;
}

.booking-card__body-date-day {
  font-size: 32px;
  font-weight: bold;
}

.booking-card__body-date-month {
  font-size: 18px;
  font-weight: bold;
}

.booking-card__body-details {
  line-height: 1.8;
  margin: 0px;
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking-card__body-details-date {
  font-size: 13px;
  line-height: 1;
}

.booking-card__body-details-facility {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.booking-card__body-details-platform {
  font-size: 12px;
  line-height: 1;
}

.booking-card__specialties {
  border-top: 1px solid #0c3c75;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}

.booking-card__footer {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  color: #777;
  align-items: center;
  width: 100%;
}
.booking-card__footer-author {
  font-weight: bold;
  color: #074583;
}

.booking-card__footer i {
  margin-right: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  color: #888;
  width: 100%;
  padding: 10px 0;
  background-color: #ececec;
}

.date {
  margin-right: 20px;
}
